# ============================================
# Dependencias
# ============================================
node_modules/
.pnpm-store/

# ============================================
# Expo
# ============================================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts
android

# ============================================
# Metro / React Native
# ============================================
.metro-health-check*
.expo
*.jsbundle

# ============================================
# Build nativo (si se hace eject o prebuild)
# ============================================
ios/
android/

# ============================================
# Variables de entorno
# ============================================
.env
.env.local
.env.*.local

# ============================================
# Logs
# ============================================
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*

# ============================================
# Editor / SO
# ============================================
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# ============================================
# TypeScript
# ============================================
*.tsbuildinfo

# ============================================
# Testing
# ============================================
coverage/